<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804568376356-8tonori0p87qse5rdg7ftb9kg85n4fn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804568376356-8tonori0p87qse5rdg7ftb9kg85n4fn2</string>
	<key>API_KEY</key>
	<string>AIzaSyBnZsaiKKOV5MAbjLlRTC2p1_TGlkZdth8</string>
	<key>GCM_SENDER_ID</key>
	<string>804568376356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp2</string>
	<key>PROJECT_ID</key>
	<string>socialized-app</string>
	<key>STORAGE_BUCKET</key>
	<string>socialized-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804568376356:ios:bb4ce57650588d2b7ba4b1</string>
</dict>
</plist>